<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>indocouriers</name>
	<displayName><![CDATA[Indonesia Couriers]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Indonesian courier shipping module.]]></description>
	<author><![CDATA[tjeperi]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
